@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.dadosExtraidos,
.uploadsSalvos,
.suporte,
.sair {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .home,
.sair,
.suporte,
.uploadsSalvos,
.dadosExtraidos {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
} */

/* ------------------------------------------- */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home {
  height: 96vh;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.main-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
}

.upload-title {
  text-align: center;
}

.extraction {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
  background-color: #fdecec;
  box-shadow: 10px 10px 10px -7px rgba(0, 0, 0, 0.75);
}

.logo-img {
  width: 5%;
}

.footer {
  display: flex;
  justify-content: end;
  padding-right: 1%;
}

#input-btn {
  opacity: 0;
  display: none;
}

.input-btn-label {
  text-align: center;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  letter-spacing: 2px;
  background: rgb(61, 8, 115);
  background: linear-gradient(
    180deg,
    rgba(61, 8, 115, 1) 12%,
    rgba(244, 31, 160, 1) 100%
  );
  box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.75);
}

.div-transfer-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-transfer-btn {
  font-weight: 600;
  width: 50%;
  text-align: center;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  letter-spacing: 2px;
  background: rgb(61, 8, 115);
  background: linear-gradient(
    180deg,
    rgba(61, 8, 115, 1) 12%,
    rgba(244, 31, 160, 1) 100%
  );
  box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.75);
}

.doc-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

.image-preview {
  width: 35%;
  height: 70%;
}

/* TABELA---------------------------------------------------------------- */

.main-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tabela {
  width: 100%;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.table-h2 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.table-th {
  width: 30%;
  border-bottom: 1px solid black;
  padding: 10px;
  text-align: left;
}

.table-td {
  border-bottom: 1px solid black;
  padding: 10px;
  text-align: left;
}

@media (max-width: 850px) {
  .main-upload {
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  .home {
    width: 80vw;
    display: flex;
    flex-direction: column;
    flex-direction: column;
  }
  .image-preview {
    width: 50%;
  }
  .extraction {
    height: 100%;
  }
  .footer {
    display: none;
  }
}

@media (max-width: 1050px) {
  .extraction {
    height: 97%;
  }
}

@media (max-width: 1330px) {
  .extraction {
    height: 100%;
  }
}

@media (max-width: 2560px) {
  .image-preview {
    width: 80%;
  }
}
